{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <header>
    {% if request.user.is_authenticated %}
    <a href="{% url 'tweets:home' %}" id="homelink">
      Twitter Clone
    </a>
    <ul class="top">
      <li>
        <a href="{% url 'accounts:logout' %}">
          <button type="button" class="topbuttons whiteback">Logout</button>
        </a>
      </li>
      <li>
        <a href="{% url 'accounts:user_profile' username=request.user.username %}" id="usericon">
          {{ request.user.username }}
        </a>
      </li>
    </ul>
    {% else %}
    <p id="logo">Twitter Clone</p>
    <ul class="top">
      <li>
        <a href="{% url 'accounts:signup' %}">
          <button type="button" class="topbuttons blueback">登録</button>
        </a>
      </li>
    </ul>
    {% endif %}
  </header>
  {% block content %}
  {% endblock %}
</body>

</html>
